# Shared
NODE_ENV=development

# Postgres
DATABASE_URL=postgres://postgres:postgres@localhost:5432/vneclassno

# Redis
REDIS_URL=redis://localhost:6379

# Auth
JWT_ACCESS_SECRET=change_me_access
JWT_REFRESH_SECRET=change_me_refresh

# Telegram
TELEGRAM_BOT_TOKEN=replace_me
TELEGRAM_BOT_USERNAME=vneclassno_bot
TELEGRAM_MINIAPP_URL=https://your-miniapp.vercel.app
# Payments
SBP_WEBHOOK_SECRET=change_me
